{% extends 'blogpost/template_blog.html' %}

{% block content %}
    {% for post in posts_list %}
        <div>
            <h2 class="blog-post-title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text|safe }}</p>
            <div>
                <p class="blog-post-meta">{{ post.published_date|date:"d-m-Y H:i" }} by <a href="#">{{ post.author }}</a></p>
            </div>
        </div>
    {% endfor %}
{% endblock content %}

{% block archive %}

    {% for month,year in conv_year_month %}
        <!--<li><a href="archive/{{ year}}/{{ month }}">{% for key, value in months_revert.items %}{% if key == month %}{{ value }}{% endif %}{% endfor %} {{ year }}</a></li>-->
        <li><a href="{% url 'post_archive' year month %}">{% for key, value in months_revert.items %}{% if key == month %}{{ value }}{% endif %}{% endfor %} {{ year }}</a></li>
    {% endfor %}


{% endblock archive %}