<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>О гусях!</title>
</head>
<body>
    <p>TEST</p>
    <p>ТЕСТ_РУСКИЙ</p>
    <div>
        <h1><a href="">Жизнь гусей</a> </h1>
    </div>

    <div>
        <p>созданно 24.02.2016</p>
        <h2><a href="">История одного гуся</a> </h2>
        <p>Жил был гусь, и хотел он быть поросёнком Петром.</p>
    </div>

    <div>
        <p>созданно 24.02.2016</p>
        <h2><a href="">История одного гуся</a> </h2>
        <p>Жил был гусь, и хотел он быть поросёнком Петром.</p>
    </div>

</body>
</html>